*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(180, 142, 70);
}
/* h1{
    font-weight: 700;
    color: rgba(200, 212, 20, 0.87);
    margin-bottom:50px;
    text-align: center;
}
.page1{
    text-align: center;
        width: 100%;
        background-size: cover;
        margin-top: 30px;
}
img{
    height: 270px;
    width: 380px;

} */

/* Bangla design */
.bangla{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.bangla-btn{
    width: 100%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    margin-top: 50px;
    background: #0ce617;
    text-decoration: none;
    color: rgb(18, 20, 16);
    text-align: center;
    cursor: pointer;
}

/* english design */

.english{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.english-btn{
    width: 100%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    margin-top: 50px;
    background: #0ce617;
    text-decoration: none;
    color: rgb(18, 20, 16);
    text-align: center;
    cursor: pointer;
}

/* Msth design  */

.higher-math{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.higher-math-btn{
    width: 100%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    margin-top: 50px;
    background: #0ce617;
    text-decoration: none;
    color: rgb(18, 20, 16);
    text-align: center;
    cursor: pointer;
}

/* physics design */

.physics{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.physics-btn{
    width: 100%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    margin-top: 50px;
    background: #0ce617;
    text-decoration: none;
    color: rgb(18, 20, 16);
    text-align: center;
    cursor: pointer;
}

/* biology design */

.bio{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.bio-btn{
    width: 100%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    margin-top: 50px;
    background: #0ce617;
    text-decoration: none;
    color: rgb(18, 20, 16);
    text-align: center;
    cursor: pointer;
}

/* chemistry design */

.chemistry{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.chemistry-btn{
    width: 100%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    margin-top: 50px;
    background: #0ce617;
    text-decoration: none;
    color: rgb(18, 20, 16);
    text-align: center;
    cursor: pointer;
}

/* ict design */

.ict{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.ict-btn{
    width: 100%;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
    margin-top: 50px;
    background: #0ce617;
    text-decoration: none;
    color: rgb(18, 20, 16);
    text-align: center;
    cursor: pointer;
}